

/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-dark);
    background: var(--cream);
}

/* HEADER */
.header {
    background: var(--cream);
    padding: 15px 0;
}

.header-inner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 70px;
}

.nav a {
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.nav .active {
    color: var(--teal);
    border-bottom: 3px solid var(--teal);
    padding-bottom: 3px;
}

.social img {
    height: 22px;
    margin-left: 12px;
}

/* MAIN SECTION */
.contact-section {
    background: var(--orange);
    padding: 50px 8% 80px;
}

.intro-text {
    max-width: 900px;
    margin: auto;
    color: #333;
    font-size: 1.1rem;
    margin-bottom: 40px;
    text-align: justify;
}

/* FORM CARD */
.contact-form {
    background: var(--teal);
    /* border: 8px solid var(--teal); */
    padding: 25px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border: 1px solid gray;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    background: var(--cream);
}

textarea {
    min-height: 150px;
    resize: vertical;
}

/* SEND BUTTON */
.send-btn {
    margin-top: 20px;
    float: right;
    margin-right: 8%;
    background: #FFDF59;
    border: none;
    padding: 10px 35px;
    font-size: 1.5rem;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: var(--teal-dark);
    font-weight: 1500;
}

.send-btn:hover {
    background: #f4d750;
}

/* FOOTER */
.footer {
    background: var(--cream);
    padding: 50px 8%;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    min-width: 180px;
    margin-bottom: 20px;
}

.footer-logo {
    height: 80px;
}

.footer h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    color: #333;
    display: block;
    margin: 3px 0;
}

.footer a:hover {
    color: var(--teal);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contact-form {
        width: 80%;
    }

    .send-btn {
        margin-right: 0;
        float: none;
        display: block;
        margin: 20px auto 0;
    }

    .footer-inner {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .nav {
        display: none; /* Simplify header for mobile */
    }
}


