/* GLOBAL */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #FFF8E6;
    color: #333;
}

img {
    max-width: 100%;
}

/* MAIN SECTION */
.main-section {
    background: #FFA726;
    padding: 30px 15px 80px;
}

/* Breadcrumb */
.breadcrumb {
    background: var(--teal);
    color: var(--yellow);
    padding: 12px 22px;
    display: inline-block;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 80px;
}

.breadcrumb span {
    margin: 0 6px;
}

/* MAIN CARD */
.donate-card {
    background: #FFF2C5;
    border-radius: 20px;
    padding: 40px 30px;
    max-width: 1100px;
    margin: 40px auto 0;
    position: relative;
}

/* DONATE INFO */
.donate-info {
    position: relative;
}

.donate-info h2 {
    color: #FF7A22;
    font-weight: 700;
    margin-top: 0;
}

.instructions-title {
    margin-top: 20px;
    font-weight: 600;
}

.qr-image {
    width: 180px;
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: #fff;
}

/* DONATION FORM */
.donate-form {
    margin-top: 60px;
}

.donate-form h3 {
    color: #FF7A22;
    font-weight: 700;
}

.donate-form input {
    width: 80%;
    padding: 12px 14px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: inherit;
}

.confirm-btn {
    margin-top: 20px;
    background: var(--yellow);
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    color: var(--teal);
}

/* FOOTER */
.footer {
    background: #FFF8E6;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.footer-logo {
    width: 85px;
}

.footer-col {
    width: 230px;
    margin-bottom: 20px;
}

.footer-col h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-col a {
    text-decoration: none;
    color: #333;
    margin-bottom: 6px;
    display: block;
    font-size: 14px;
}

/* RESPONSIVE */
@media(max-width: 900px) {
    .qr-image {
        position: static;
        margin-top: 20px;
    }
}

@media(max-width: 700px) {
    nav a {
        margin-left: 15px;
    }
}

@media(max-width: 550px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header-right {
        text-align: center;
    }

    .donate-card {
        padding: 25px 20px;
    }

}
