/* Breadcrumb */
.breadcrumb {
    display: inline-block;
    background: var(--teal);
    color: var(--yellow);
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}

.breadcrumb span {
    margin: 0 8px;
}