
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #FFF8E6; /* Light Beige */
    color: #333;
    
}



/* MAIN CONTENT */
.main {
    background: var(--orange);
    padding: 40px 8% 80px;
}

/* Breadcrumb */
.breadcrumb {
    display: inline-block;
    background: var(--teal);
    color: var(--yellow);
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}

.breadcrumb span {
    margin: 0 6px;
    
}

/* HERO */
.hero {
    background: var(--orange);
    text-align: center;
    padding: 40px 20px;
    color: #fff;
    
}

.bubble {
    background: #47D1C4;
    padding: 60px 20px;
    border-radius: 200px;
    margin: 0 auto;
    max-width: 900px;
    position: relative;
}

.hero h1 {
    margin-top: 0;
    font-size: 26px;
    font-weight: 700;
    color: #F9F871;
}

.hero p {
    margin-bottom: 30px;
    color: #fff;
    font-size: 15px;
}

.pets-img {
    width: 100%;
    max-width: 600px;
    margin-top: -50px;
}

/* CLINIC SECTIONS */
.clinic-section {
    background: #FF7A22;
    padding: 50px 20px;
    text-align: center;
}

.clinic-card {
    max-width: 500px;
    margin: 50px auto;
    color: #fff;
    background: transparent;
}

.clinic-card img {
    width: 160px;
    margin-bottom: 20px;
}

.clinic-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.clinic-info {
    font-size: 14px;
    color: #222;
}

.clinic-info a {
    color: var(--text-dark);
    word-wrap: break-word;
    display: block;
    margin-top: 6px;
}

/* BUTTON */
.btn-map {
    background: #B5E745;
    color: #000;
    padding: 10px 28px;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 15px;
}

/* FOOTER */
footer {
    background: #FFF8E6;
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

footer div {
    width: 250px;
    margin-bottom: 20px;
}

footer h4 {
    margin-bottom: 10px;
    font-weight: 700;
}

footer a {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

/* RESPONSIVE */
@media(max-width: 768px){
    header {
        flex-direction: column;
        text-align: center;
    }
    header nav {
        margin-top: 10px;
    }
    .bubble {
        border-radius: 100px;
        padding: 40px 15px;
    }
    footer {
        text-align: center;
    }
}
