
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #FFF8E6; /* Light Beige */
    color: #333;
    
}



/* MAIN CONTENT */
.main {
    background: var(--orange);
    padding: 40px 8% 10px;
}

/* Breadcrumb */
.breadcrumb {
    display: inline-block;
    background: var(--teal);
    color: var(--yellow);
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}

.breadcrumb span {
    margin: 0 6px;
    
}

/* HERO */
.loc-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;                       
    box-sizing: border-box;
    padding: 60px;
}

.pets-img {
    width: auto;           
    height: 100%;        
    display: block;
    border-radius: 0;
}



.hero-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;            
    margin: 0;              
    padding: 0;             
}


.hero-text {
    position: absolute;
    top: 50%;                
    left: 50%;               
    transform: translate(-50%, -50%);
    width: 80%;             
    color: #fff;
    text-align: center;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.hero-text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--orange);
}

.hero-text p {
    font-size: 1rem;
    font-weight: 500;
}



/* CLINIC SECTIONS */
.clinic-section {
    background: #FF7A22;
    padding: 50px 20px;
    text-align: center;
}

.clinic-card {
    max-width: 500px;
    margin: 50px auto;
    color: #fff;
    background: transparent;
}

.clinic-card img {
    width: 460px;
    margin: 0 auto 20px;
    display: block;
}

.clinic-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.clinic-info {
    font-size: 14px;
    color: #222;
}

.clinic-info a {
    color: var(--text-dark);
    word-wrap: break-word;
    display: block;
    margin-top: 6px;
}

/* BUTTON */
.btn-map {
    background: #B5E745;
    color: #000;
    padding: 10px 28px;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 15px;
}

/* FOOTER */


/* RESPONSIVE */
@media(max-width: 768px){
    header {
        flex-direction: column;
        text-align: center;
    }
    header nav {
        margin-top: 10px;
    }
    footer {
        text-align: center;
    }
    .hero-text h1 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 0.9rem;
    }

    .loc-hero{
        height: auto;
    }
}
