/* COLORS */
:root {
    --cream: #FFF7E8;
    --orange: #F5A623;
    --teal: #34A89C;
    --teal-dark: #1B7F72;
    --light-yellow: #FFF3C9;
    --text-dark: #333;
}

/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--cream);
}

/* HEADER */
.header {
    background: var(--cream);
    padding: 15px 0;
}

.header-inner {
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 75px;
}

.header-right {
    text-align: right;
}

.social img {
    height: 22px;
    margin-left: 12px;
}

.nav a {
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* MAIN CONTENT */
.main {
    background: var(--orange);
    padding: 40px 8% 80px;
}

/* Breadcrumb */
.breadcrumb {
    display: inline-block;
    background: var(--teal);
    color: var(--yellow);
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 40px;
}

.breadcrumb span {
    margin: 0 6px;
}

/* CAROUSEL */
.carousel {
    background: var(--turquois);
    padding: 40px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel hr {
    color: var(--orange-dark);
    border-style: solid;
}

.carousel-content {
    width: 100%;
    max-width: 650px;
    text-align: center;
}

.pet-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.pet-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    border: 6px solid var(--orange);
}

.testimonial-card {
    background: var(--lightorange);
    padding: 40px 30px;
    border-radius: 25px;
}

.testimonial-card h3 {
    margin-bottom: 20px;
    text-align: left;
}

.testimonial-card p {
    text-align: left;
    line-height: 1.6;
}


/* ARROWS */
.arrow {
    background: none;
    border: none;
    font-size: 45px;
    font-weight: bold;
    color: #FFD84A;
    cursor: pointer;
    padding: 10px;
}

.arrow:hover {
    transform: scale(1.1);
}

/* FOOTER */
.footer {
    background: var(--cream);
    padding: 50px 8%;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col {
    min-width: 180px;
    margin-bottom: 20px;
}

.footer-logo {
    height: 80px;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: #333;
    display: block;
    margin: 3px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .carousel {
        padding: 30px 10px;
    }

    .arrow {
        font-size: 35px;
    }

    .testimonial-card {
        padding: 30px 20px;
    }

    .pet-img {
        width: 130px;
        height: 130px;
    }

    .nav {
        display: none;
    }
}
